<h1>Welcome!</h1>
<h2>Here are some cars, I guess!</h2>

<% @cars.each do |car| %>
  <p>Color: <%= car.color %></p>
  <p>Year: <%= car.year %></p>
  <p>Mileage: <%= car.milage %></p>
  <p>Description: <%= car.description %></p>
<% end %>
<br><hr>
<%= link_to 'Add a Car', new_car_path %>